*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.entrypointContainer{
    width:100vw;
    height:100vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 200px;
}

h1{
    text-align: center;
    text-transform: uppercase;
}

.indeximage{
    margin-top:100px;
    width:500px;
    height:400px;
    background-color: rgb(249, 133, 133);
    margin-left: 50px;
    padding: 5px;
}

.indeximage img{
    width:inherit;
    height:inherit;
    object-fit: cover;
}



.buttonContainer{
    display:flex;
    flex-direction: column;
    row-gap: 70px;
    width:500px;
    height:200px;
    padding: 10px;
}

.buttonContainer .Link{
    border:0;
    text-decoration: none;
    text-align: center;
    font-size: 35px;
    color: black;
}



